:root {
  --one-color: 207, 212, 209;             /* Silver #cfd4d1 */
  --two-color: 109, 142, 161;          /* Lightish Blue #537284 */
  --three-color: 100, 103, 105;           /* Dark Gray #646769 */
  --four-color: 211, 206, 143;            /* Gold #d3ce8f */
 
  --one-font: 'Roboto', sans-serif;
  --two-font: 'Original Surfer', cursive;
  --three-font: 'Allura', cursive;
}

/***START***/
/* FONTS */
body {
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -.015em;
  font-family: var(--one-font);
}

h1 {
  font-size: ;
}
h2 {
  font-size: ;
}
h3 {
  font-size: ;
}
h4 {
  font-size: ;
}
p {
}

header h1,
.head {
  font-family: var(--two-font)
}
.hero .banner,
.tail h2 {
  font-family: var(--three-font)
}

header a {color: rgba(var(--two-color))}

.hero h2,
.tail h2
{
  color: rgba(var(--one-color));
  text-shadow: 0 0 .15rem black;
}

/* FONTS */
/***END***/ 


/***START***/
/* INTERACTION */
header nav ul li a:hover,
header h1:hover{
  color: rgba(236, 255, 254, 0.9) !important;
  text-shadow: 0 0 .3vmax rgb(138, 243, 255) !important;
}
.content .tail div:hover {
  background-color:rgba(245, 245, 245, 0) !important;
}
/* INTERACTION */
/***END***/


/***START***/
/* GENERAL */
* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  /* border: solid 1px red; */
}
body {
  background-color: #cfd4d1;
  display: flex;
  flex-wrap: wrap;
}
p {
  width: 100%;
  text-align: center;
}
/* GENERAL */
/***END***/ 


/***START***/
/* HEADER SECTION + NAVBAR */
.navbar {
  display: flex;
  align-self: center;
  padding: .5vmax;
  justify-content: space-between;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  right: 0;
  z-index: 1;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.137), 
    rgba(255, 255, 255, 0));
    box-shadow: 
    0vmax .1vmax .3vmax .2vmax 
    rgba(0, 0, 0, 0.363);
    border: outset 2px rgba(0, 0, 0, 0.103);
}
header {
  overflow:visible;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  display: flex;
  background-color: #646769;
  width: 100%;
  padding: 1vmax 2vmax;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow:visible;
  box-shadow: 
  inset 0vmax 0vmax .5vmax .05vmax 
  rgba(0, 0, 0, 0.5);
}
header h1{
  font-weight: bold;
  margin: 0;
  padding: 0 1vw; 
  text-shadow: 0 0 .2vmax black;
}
header a{
  text-decoration: none;
  text-shadow: 0 0 .1vmax black;
}
header nav {
  margin: 0 .5vmax;
  align-self: center;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
header nav ul li a h3 {
  padding: 0rem 1.5rem;
  /* font-weight: lighter; */
  text-decoration: underline;
}
/* HEADER SECTION + NAVBAR */
/***END***/ 


/***START***/
/* HERO SECTION */
.hero {
  height: max-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(
    rgba(var(--two-color)), 
    rgba(var(--one-color)));
  }
.banner {
  display: flex;
  width: 100%;
  height: 100%;
  padding-bottom: 2vmax;
  display: block;
  background-image: linear-gradient(
  rgba(0, 0, 0, 0.068), 
  rgba(255, 255, 255, 0));
  box-shadow: 
  .10vmax 0vmax .3vmax .1vmax 
  rgba(0, 0, 0, 0.363);
  border: outset 2px rgba(0, 0, 0, 0.103);
}
.hero h2 { 
  text-align: end;
  padding: 0.5vw 3vw;
}
/* HERO SECTION */
/***END***/ 


/***START***/
/* CONTENT SECTION */
.content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 5vmax;
  block-size: auto;
}
.content .container {
  height: auto;
  width: 100%;
  display: flex;
  margin: 2vmax 0;
  block-size: fit-content;
}
.content .head {
  display: flex;
  height: auto;
  width: 10%;
  margin-right: .5vmax;
  /* justify-content: flex-end; */
  /* align-content: center; */
  /* box-sizing: content-box; */
}
.content .head span {
  display: flex;
  justify-content: center;
  text-align: center;
  box-sizing: content-box;
  padding-top: .25vmax;
}
.content .tail{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  padding: 2vmax;
  box-shadow: inset 0vmax 0vmax .25vmax .25vmax rgba(47, 47, 47, 0.2);
}
.content .tail div {
  display: table;
  width: 49%;
  height: 20vmax;
  margin-bottom: 2vmax;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color:rgba(245, 245, 245, 0.363);
  background-blend-mode: difference;
  transition: 0.5s ease;
  border-top: none;
}
.content .tail div:nth-of-type(1) {
  width: 100%;
}
.content .tail div:nth-last-of-type(1), 
.content .tail div:nth-last-of-type(2) {
  margin-bottom: 0;
}
.content .tail h3 {
  background-color: rgba(0, 0, 0, 0.253);
  block-size: fit-content;
  width: 100%;
  padding: .15vmax .15vmax .15vmax 0;
  border: inset 1vmax rgba(0, 0, 0, 0.5);
  border-left: none;
  border-right: none;
  background-clip: content-box;
  color: rgba(var(--one-color));
  text-align: center;
  text-shadow: 0 0 2px black;
}
/* CONTENT SECTION */
/***END***/ 

/***START***/
/* FOOTER SECTION */
footer {
}
/* FOOTER SECTION */
/***END***/ 


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  .tail div:nth-of-type(1) {
    width: 100%;
    height: 20vmax !important;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  :root {
    --typescale: 1.15;
  }
  header {
    justify-content: center;
  }
  header h1 {
    width: 100%;
    text-align: center;
  }
  .hero {
    align-items: flex-start;
    justify-content:center;
  }
  .hero .banner{
    margin-top: 0;
    padding-top: 2vmax;
  }
  .content .container {
    flex-wrap: wrap;
    margin: 1.25vmax;
  }
  .content .head {
    width: 100%;
    justify-content: center;
    border-right: none;
    border-bottom: solid .5vmax;
  }
  .content .head span {
    /* width: auto; */
    padding-right: 1vmax;
  }
  .content .tail div{
    flex-basis: 100%;
  }
  .content .tail{
    width: 100%;
  }
  .content .tail div:nth-last-of-type(2) {
    margin-bottom: 2.5vmax;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
}