* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: yellowgreen solid 2px; */
}

.veil { /* in place to dim the setting before quiz begins */
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
}

body{
    background-color: rgba(0, 0, 0, 0.5);
}
    
.brick {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 4rem;
    background: url("../images/brick-wall.gif");
    background-position: center;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: url("../images/bg.gif");
    width: 100%;
    height: 3rem;
    border-top: 2px outset #ffebb7;
    border-bottom: 2px outset#ffebb7;
}

.neon {
    justify-self: flex-end;
    /* lots of credit to css-tricks */
    font-family: 'Vibur', cursive;
    color: #fff;
    text-shadow:
    0 0 1px #fff,
    0 0 25px #ffebb7,
    0 0 82px #ffebb7,
    0 0 92px #ffebb7,
    0 0 102px #ffebb7,
    0 0 2px #000;
}

.banner img{
    height:9rem;
    margin-left: 2.5rem;
    border-radius: 50%;
    box-shadow:
    0 0 100px 0px #ffebb7,
    0 0 2px #000;
}

h1 {
    position: absolute;
    right: 2.5rem;
    top: 4.25rem;
}

main{
    display: flex;
    flex-wrap: wrap;
    padding: 2.5rem;
    justify-content: center;
}

main * {
    font-size: 1.3rem;
    color: #ffebb7;
}

button {
    height: min-content;
    width: min-content;
    padding: .5rem 1rem;
    background: url("../images/bg.gif");
    box-shadow: 0 0 0 1px black;
    text-shadow: 0 0 1px black;
    border-radius: 1rem;
    text-align: center;
}

@keyframes glow{
    0% {
        box-shadow:
        0 0 5px #ffebb7,
        0 0 30px #ffebb7;
    }
    100% {
        box-shadow:
        0 0 30px  #ffebb7; 
    }
}
#start {
    margin-top: 4rem;
    animation-name: glow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    font-family: 'Vibur', cursive;
    font-weight: bold;
}

.preamble {
    /* lots of credit to css-tricks */
    margin-top: 3.5rem;
    font-size: 3rem;
    font-family: 'Vibur', cursive;
    color: #fff;
    text-shadow:
    0 0 1px #ffebb7,
    0 0 25px #ffebb7,
    0 0 82px #ffebb7,
    0 0 92px #ffebb7,
    0 0 102px #ffebb7,
    0 0 2px #000;
    text-align: center;
}

.quiz {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.75);
    height: fit-content;
    width: 40rem;
}
.question {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center; 
    width: 100%;
    height: min-content;
    background-color: rgba(0, 0, 0, 0.25);
    font-size: 1.5rem;
    padding: 1rem;
}
.answers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: 1rem 0;
}
.answer {
    background-color: rgba(0, 0, 0, 0.6);
    width: 60%;
    margin: .5rem 0;
}

@keyframes move{
    0%   {
        right: 2.5rem;
        top: 4.25rem;
        color: #fff;
        text-shadow:
        0 0 1px #fff,
        0 0 25px #ffebb7,
        0 0 82px #ffebb7,
        0 0 92px #ffebb7,
        0 0 102px #ffebb7,
        0 0 2px #000;
    }
    50% {
        color: rgba(255, 255, 255, 0);
        text-shadow:
        0 0 1px rgba(255, 255, 255, 0),
        0 0 25px #ffebb700,
        0 0 82px #ffebb700,
        0 0 92px #ffebb700,
        0 0 102px #ffebb700,
        0 0 2px rgba(0, 0, 0, 0);
    }
    100%{
        right: 2.5rem;
        top: -3rem;
    }
}

.deduction {
    font-family: 'Vibur', cursive;
    animation-name: move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.scoreboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.75);
    height: min-content;
    padding-bottom: 2rem;
    width: 40rem;
}
.heading {
    background-color: rgba(0, 0, 0, 0.15);
    font-family: 'Vibur', cursive;
    height: min-content;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    padding: 1rem 0;
    margin-bottom: 1rem;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%
}
.rackLeftEl {
    height: fit-content;
    width: 60%;
    text-align: left;
    padding-left: 2rem;
}
.rackRightEl {
    height: fit-content;
    text-align: right;
    width: 40%;
    border-left: solid rgba(0, 0, 0, 0.20) 3px;
    padding-right: 2.5rem;
}
.correctL, 
.bonusL, 
.totalL{
    display: block;
    padding: .2rem 1rem;
}
.correctR, 
.bonusR, 
.totalR{
    display: block;
    padding: .2rem 1rem;
}

.totalL,
.totalR {
    border-top: solid 3px rgba(0, 0, 0, 0.20);
    margin-top: .5rem;
    padding-top: 1rem;
}

.initials-prompt {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    color: rgb(170, 170, 170);
}
.inital-entry{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: url("../images/bg.gif");
    height: 2rem;
    width: 4.3rem;
    text-align: center;
    margin-top: 2rem;
}

input:focus, 
textarea:focus,
select:focus
    {
    outline: none;
}

.submit {
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
    margin: 2rem 100%;
    margin-bottom: 1rem;
}

.return {
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
    margin: 1rem 100%;
    margin-bottom: 0;
}

.highscores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.75);
    height: fit-content;
    width: 100%;
    padding: 1rem;
}
.local-initials {
    white-space: pre-line;
    text-align: right;
    border-right:solid 3px rgba(0, 0, 0, .25);
    padding: 0 1rem;
    padding-right: 3rem;
    line-height: 2.5rem;
    width: 10%;
}
.local-scores {
    white-space: pre-line;
    text-align: right;
    padding: 0 1rem;
    line-height: 2.5rem;
    width: 10%;
}

footer {
    color: #ffebb7;
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    bottom: 0;
    background-color: rgba(128, 0, 0, 0.123);
    padding: 0 1rem;
}

footer button {
    color:#ffebb7;
    width: fit-content;
    background: rgba(0, 0, 0, 0.205);
    padding: .15rem .5rem;
}

@media only screen and (max-width: 440px) {
    button,
    .main *,
    .question,
    .scoreboard *,
    footer *
    {
        font-size: 1rem ;
    }
    .rackLeftEl {
        width: 65%;
        padding: 0;
    }
    .rackRightEl {
        width: 35%;
        padding: 0;
    }
}

@media only screen and (max-width: 400px) {
    .banner{
        justify-content: space-around;
    }
    .banner img {
        margin: 0;
    }
    h1 {
        right: auto;
        top: 11rem;
    }
    .brick:nth-of-type(2){
        height: 7.5rem;
    }
}

@media only screen and (max-width: 330px) {
    button,
    .main *,
    .question,
    .scoreboard *
    {
        font-size: .75rem ;
    }
}

@media only screen and (max-width: 330px) {
    button,
    .main *,
    .question,
    .scoreboard *
    {
        font-size: .65rem ;
    }
}